/* UI Overrides */

.drawer .csvg {
  stroke-width: 2px;
}

/* UI tools */

.sqr32 {
  height: 32px;
  min-height: 32px;
  width: 32px;
  min-width: 32px;
}

.palSlice {
  width: 6px;
  height: 30px;
}

.btn-tool,
.b-btn {
  box-shadow: 0px 4px 16px rgba(5, 0, 56, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.btn-tool {
  max-width: 1.9rem;
  min-width: 1.9rem;
  max-height: 1.9rem;
  min-height: 1.9rem;
}

.btn-height {
  max-height: 1.9rem;
  min-height: 1.9rem;
}

.btn-flex {
  flex: 0 0 auto;
}

/* Overlay/Dialog */

.l-50 {
  left: 50%;
}

.t-50 {
  top: 50%;
}

.translate-center {
  transform: translate(-50%, -50%);
}

/* UI Interactivity */

.box,
.wordArt,
.btn {
  transition: transform 0.25s ease-out;
}

.handle {
  cursor: grab;
  user-select: none;
}
.handle.grabbing {
  cursor: grabbing;
}

.box:hover,
.wordArt:hover,
.btn:hover {
  transform: scale(1.01);
}

.box:active,
.box:focus,
.wordArt:active,
.wordArt:focus {
  transform: scale(1.03);
  outline: 2px solid var(--first);
}

/* Orderable */

.orderable-move, /* apply transition to moving elements */
.orderable-enter-active,
.orderable-leave-active {
  transition: all 0.5s ease;
}

.orderable-enter-from,
.orderable-leave-to {
  opacity: 0;
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.orderable-leave-active {
  position: absolute;
}
